%h1 All Scenes

- @scenes.each do |scene|
  .well
    %h5= scene.title
    %div= scene.description 
    %p= link_to "View scene", scene_path(scene)

%p= link_to "Add new scene", new_scene_path, :class => 'btn btn-primary'
