%script#response-alternative-item-template{:type => 'text/html'}
  <div class='well response'>
  <%= response %>
  <a href='/scenes/<%= scene_id %>/responses/<%= id %>' class='btn btn-mini'>Switch scenario</a>
  </div>

%script#response-item-template{:type => 'text/html'}
  <div class='well alert-info response'>
  <%= response %>
  <a class="btn btn-mini response-alternative" href="/scenes/<%= scene_id %>/alternative_responses/<%= id %>">Alternative responses</a>
  <a class="icon-plus-sign response-weight" href="/scenes/<%= scene_id %>/responses/<%= id %>/upvote"></a>
  <a class="icon-minus-sign response-weight" href="/scenes/<%= scene_id %>/responses/<%= id %>/downvote"></a>
  (<span class="response-weight-value">+<%= upvotes %> -<%= response.downvotes %></span>)
  </div>

%script#responses-alternative-template{:type => 'text/html'}
  <div>
  <h4>Alternative responses</h4>

  <form action='' method='post' accept-charset="UTF-8">
  <div class="control-group">
  <label for="alternative_response" class="control-label">Response</label>
  <div class="controls">
  <textarea placeholder="Do you have another image in your mind?" name="response[response]" id="alternative_response" class="input-xxlarge"></textarea>
  </div>
  </div>
  <div class="form-actions">
  <input type="submit" value="Post alternative response" name="commit" class="btn btn-primary">
  </div>
  </form>

  <div id="responses-alternative"></div>
  </div>


%script#responses-template{:type => 'text/html'}
  <div>
  <div id="scenario-current-responses">
  </div>
  <hr>
  <form method="post" action="/scenes/<%= scene_id %>/responses" accept-charset="UTF-8" id="response-post-form">
  <input type="hidden" value="<%= parent_id %>" name="response[parent_id]" id="response_parent_id">
  <div class="control-group">
  <label for="response_response" class="control-label">Response</label>
  <div class="controls">
  <textarea placeholder="What do you imagine?" name="response[response]" id="response_response" class="input-xxlarge"></textarea>
  </div>
  </div>
  <div class="form-actions">
  <input type="submit" value="Post response to scene" name="commit" class="btn btn-primary">
  </div>
  </form>
  </div>
