.about-text
  %h1
    About Scenamix

  %p
    Imagination is a source of unlimited opportunities. A powerful yet not always apprehensible tool each person has.

  %p
    Whether on purpose or not, people use their imagination all the time, be it the simplest everyday situations or global issues to solve. While in the process of making important decisions or preparing for various events, a human mind generates images of future. This helps us to reveal the unknown. Not only we ourselves are involved in this play of imagination, but quite often our friends and relatives too as we turn to them for advice and support.

  %p
    The main advantage of imagination is that it has no limits or rules to follow. Reflecting on a solution to some particular problem, a great number of people can create with their imagination a wide scope of opportunities and look at a problem from different perspectives.

  %p
    Scenamix is a project that allows you to implement the power of imagination in action. Bringing together different people, their experiences and imaginations, Scenamix helps to:

  %p
    SEE a situation in different eyes;

  %p
    PERCEIVE the most probable development of a situation;

  %p
    FORESEE various unpredictable events to know how to behave in a certain situation.

  %p
    Therefore, imagination and experience can provide a key to open any door. Suppose million people give thought to a particular situation? Problems of what size can be solved with this?

  %p
    Share your imagination! Maybe, it is your vision that somebody lacks to see a complete picture. By communicating to others what's in your imagination, you make the world better!
