%h1
  Scenamix.com

%p
  Scenamix will help people to develop and use their imagination.
%p
  Currently this website is under construction.

%p= link_to "Add new scene", new_scene_path, :class => 'btn btn-primary'
