-# edit.html.haml using partial

%h1 Edit Existing Response

= form_tag scene_response_path(@response), :method => :put do

  = label :response, :response, 'Response'
  = text_area_tag 'response[response]', @response.response

  = submit_tag 'Update response', :class => 'btn btn-primary'
