-# edit.html.haml using partial

%h1 Edit Existing Response

= form_for [:scene, @response] do |f|

  = f.label :response
  = f.text_area :response

  = f.submit 'Update response', :class => 'btn btn-primary'
