/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.button_to,
.button_to div {
  display: inline;
  margin: 0;
}

.scenario-sequel-wrap {
  margin: 10px;
}

.response-alternative-switch:link, response-alternative-switch:visited,
.response-new-button:link, .response-new-button:visited {
  text-decoration: none;
  color: #0088CC;
  border-bottom: 1px dashed #0088CC;
}

.response-alternative-switch:hover, response-alternative-switch:active,
.response-new-button:hover, .response-new-button:active {
  text-decoration: none;
  color: #006DCC;
  border-bottom: 1px dashed #006DCC;
}

.add-new-scene-wrap {
  margin: 30px 0 0 0;
}

.back-to-scene-list-wrap {
  margin: 15px 0;
}

#scenario-branches-wrap {
  position: fixed;
  height: 0;
  top: 40px;
  bottom: 0;
}

#scenario-branches-wrap .container {
  height: 0;
}

#scenario-branches-wrap .span6 {
  height: 0;
  min-height: 1px;
}

#scenario-branches-wrap #scenario-branches {
  opacity: 0.8;
  height: 100%;
}

#scenario-branches-wrap #scenario-branches:hover {
  opacity: 1;
}

#footer {
  color: #999999;
  background-color: #F5F5F5;
  border-top: 1px solid #E5E5E5;
  margin-top: 70px;
  padding: 30px 0;
  text-align: center;
}

.response-votes-wrap {
  float: right;
}

.response-user-name {
  font-weight: bold;
}

.response-user-name, .response-created-at {
  margin-right: 20px;
  display: inline-block;
  font-size: 0.8em;
  float: right;
}

#scene_description {
  height: 200px;
}

#scenario-branches {
  overflow: hidden;
}

#scenario-branches:hover {
  overflow: auto;
}

.response {
  padding: 10px;
}

.response:after {
  clear: both;
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
}

.response-active {
  background: #EFEFEF;
  border-radius: 10px;
  position: relative;
}

.response-active:before {
  content: "";
  border-bottom: 10px solid transparent;
  border-left: 10px solid #EFEFEF;
  border-top: 10px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  top: 10px;
  right: -10px;
}

.response .response-delete, .response .response-edit {
  display: none;
  line-height: 14px;
}

.response:hover .response-delete, .response:hover .response-edit {
  display: inline-block;
}

#scenario-branches {
  padding: 15px;
  background: #EFEFEF;
  border-radius: 10px;
}

.response-alternative {
  margin: 15px 0;
}

.response-alternative-link-wrap {
  text-align: right;
  clear: right;
}

#scenario-current .input-xxlarge,
#scenario-branches-wrap .input-xxlarge {
  width: 90%;
}

.scenario-next {
  float: right;
}